#title {
    width:100%;
    height:50px;
    text-align: center;
    color:black;
    position:absolute;
    margin-top:20px;
    font-size:50px;
}
#timer{
    width:100%;
    height:50px;
    text-align: right;
    color:black;
    position:absolute;
    margin-top:20px;
    font-size:50px;
}